@font-face {
  font-family: 'VanillaWhale';
  src: url('/assets/fonts/Vanilla Whale.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    font-family: 'VanillaWhale', sans-serif;
}

.highlight {
    border: 2px solid red;
}
.dim {
    opacity: 0.5;
}
.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.attached-cards {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.card {
    margin-right: 5px;
}
.player-cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
